#holder {
  height: 200px;
  width: 520px;
  background-color: white;
  border: 2px solid dimgrey;
  border-radius: 50px;
  padding: 3%;
  margin-top: 100px;
  margin-bottom: 150px;
  margin-left: 33%;
  box-shadow: 5px 10px orange;
  cursor: pointer;
}

#place {
  position: absolute;
}

#place a {
  margin-left: -15px;
  font-size: smaller;
}

#place li {
  list-style: none outside none;
  position: absolute;
}

#place li:hover {
  background-color: orange;
}

#place .seat {
  background: url("/src/assets/images/available_seat_img.gif") no-repeat scroll 0 0 transparent;
  height: 40px;
  width: 40px;
  display: block;
}

#place .selectedSeat {
  background: url("/src/assets/images/booked_seat_img.gif") no-repeat scroll 0 0 transparent;;
  height: 40px;
  width: 40px;
  display: block;
}

#place .selectingSeat {
  background: url("/src/assets/images/selected_seat_img.gif") no-repeat scroll 0 0 transparent;;
  height: 40px;
  width: 40px;
  display: block;
}

#place .row-3, #place .row-4 {
  margin-top: 10px;
}

#seatDescription li {
  verticle-align: middle;
  list-style: none outside none;
  padding-left: 35px;
  height: 35px;
  float: left;
}

ngb-carousel {
  outline: none;
}

.next {
  margin-left: 5%;
}

.prev {
  margin-left: 38%;
}
