<table class="table table-striped tableRailway text-center" [(mfData)]="schedules" #mf="mfDataTable" [mfRowsOnPage]="10">
  <thead class="text-center font-weight-bold">
  <tr>
    <th class="text-center">Train</th>
    <th class="text-center">Station DEPARTURE</th>
    <th class="text-center">Station ARRIVAL</th>
    <th class="text-center">Date DEPARTURE</th>
    <th class="text-center">Date ARRIVAL</th>
    <th></th>
  </tr>
  </thead>
  <tbody class="text-center text-warning">
  <tr *ngFor="let schedule of mf.data; let i=index">
    <td>{{schedule.trainName}}</td>
    <td> {{schedule.stationDepartureName}}</td>
    <td> {{schedule.stationArrivalName}}</td>
    <td>{{schedule.dateDeparture.replace('.0','')}}</td>
    <td> {{schedule.dateArrival.replace('.0','')}}</td>
    <td>
      <button class='btn btn-outline-warning editSchedule' (click)="edit(schedule, i)"><img
        src='/src/assets/images/edit.png'>
      </button>
      <button class='btn btn-outline-warning deleteSchedule' (click)="delete(schedule.id, i)"><img
        src='/src/assets/images/rubbish-bin.png'></button>
      <button class='btn btn-outline-warning openScheduleTicket' (click)="info(schedule.id)">
        <img src='/src/assets/images/magnifier.png'></button>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="4">
      <mfBootstrapPaginator class="pagination pagination-sm justify-content-end" [rowsOnPageSet]="[10, 50,100, 1000]"></mfBootstrapPaginator>
    </td>
  </tr>
  </tfoot>
</table>
