<table class="table table-striped tableRailway" [(mfData)]="audits" #mf="mfDataTable" [mfRowsOnPage]="10">
  <thead class="font-weight-bold">
  <tr>
    <th class="text-center">Changed date</th>
    <th class="text-center">Changed by</th>
    <th class="text-center">Event</th>
    <th class="text-center">New value</th>
    <th></th>
  </tr>
  </thead>
  <tbody class="text-center text-warning">
  <tr *ngFor="let audit of mf.data; let i=index">
    <td>{{audit.date}}</td>
    <td>{{audit.userLogin}}</td>
    <td>{{audit.operations}}</td>
    <td>{{audit.newValue}}</td>
    <td>
      <button class='btn btn-outline-warning' (click)="auditInfo(i)">
        <img src='/src/assets/images/restore.png'></button>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="4">
      <mfBootstrapPaginator class="pagination pagination-sm justify-content-end" style="color: #6610f2;" [rowsOnPageSet]="[10, 50,100, 1000]"></mfBootstrapPaginator>
    </td>
  </tr>
  </tfoot>
</table>
