<app-menu></app-menu>
<br>
<ngb-carousel data-interval="false" [showNavigationIndicators]="false">
  <ng-template ngbSlide>
    <app-schedule-by-dates-stations-train
      (messageEvent)="receiveMessage($event)">
    </app-schedule-by-dates-stations-train>
  </ng-template>
  <ng-template ngbSlide>
    <app-schedule-by-dates-stations
      (messageEvent)="receiveMessage($event)" (messageTransferEvent)="receiveMessageTransfer($event)">
    </app-schedule-by-dates-stations>
  </ng-template>
  <ng-template ngbSlide>
    <app-schedule-by-dates
      (messageEvent)="receiveMessage($event)">
    </app-schedule-by-dates>
  </ng-template>
  <ng-template ngbSlide>
    <app-schedule-by-dates-train
      (messageEvent)="receiveMessage($event)">
    </app-schedule-by-dates-train>
  </ng-template>
</ngb-carousel>
<table class="table table-hover tableRailway">
  <tbody class="text-warning text-center">
  <tr *ngFor="let schedule of schedules; let i=index">
    <th scope='row'>
      <div>
        <div>
          <img src='/src/assets/images/trainIcoWarn.png'></div>
        <label class='font-weight-normal'>
          {{schedule.trainName}} </label>
      </div>
    </th>
    <td>
      <br>
      <div>
        <label class='font-weight-normal'>
          {{ schedule.dateDeparture}}
        </label>
      </div>
      <div>
        <label class='font-weight-bold'>
          {{ schedule.stationDepartureName}}
        </label>
      </div>
    </td>
    <td>
      <div style='margin-left: 50%'>
        <label class='font-weight-light'>
          {{getDelayBetweenTwoDates(schedule.dateDeparture, schedule.dateArrival)}}
        </label>
      </div>
      <div style='margin-left: 50%'>
        <img src='/src/assets/images/arrow-13-xxl.png' width='50'>
      </div>
    </td>
    <td>
      <br>
      <div style='margin-left: 50%'>
        <label class='font-weight-normal'>
          {{schedule.dateArrival}}
        </label>
      </div>
      <div style='margin-left: 50%'>
        <label class='font-weight-bold'>
          {{schedule.stationArrivalName}}
        </label>
      </div>
    </td>
    <td>
      <br>
      <div style='margin-left: 50%' *ngIf="schedule.price!=0">
        <label>
          {{ schedule.price}}
        </label>
      </div>
      <button type='button' style='margin-left: 50%' class='btn btn-lg btn-outline-warning'
              (click)="findTicket(schedule, i)" *ngIf="schedule.price!=0">
        FIND TICKET
      </button>
      <div *ngIf="schedule.price==0">
        <label class="text-warning font-weight-bold">TRAIN ARRIVED ..</label>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<table class="table table-hover tableRailwayTransfer">
  <tbody class="text-warning text-center">
  <tr *ngFor="let schedule of schedulesTransfer; let i=index">
    <th scope='row'>
      <div>
        <div>
          <img src='/src/assets/images/trainIcoWarn.png'></div>
        <label class='font-weight-normal'>
          {{schedule.trainDepartureName}}
        </label>
      </div>
    </th>
    <td>
      <br>
      <div>
        <label class='font-weight-normal'>
          {{schedule.dateDeparture}}
        </label>
      </div>
      <div>
        <label class='font-weight-bold'>
          {{schedule.stationDepartureName}}
        </label>
      </div>
    </td>
    <td>
      <div>
        <label class='font-weight-light'>
          {{ getDelayBetweenTwoDates(schedule.dateDeparture, schedule.dateArrival)}}
        </label>
      </div>
      <img src='/src/assets/images/arrow-13-xxl.png' width='50'>
    </td>
    <td>
      <br>
      <div>
        <label class='font-weight-normal'>
          {{schedule.dateIntermediateDeparture}}
        </label>
      </div>
      <div>
        <label class='font-weight-bold'>
          {{schedule.stationIntermediateName}}
        </label>
      </div>
    </td>
    <td scope='row'>
      <div>
        <img src='/src/assets/images/hourglass.png'>
      </div>
      <br>
      <label>
        {{getDelayBetweenTwoDates(schedule.dateIntermediateDeparture, schedule.dateIntermediateArrival)}}
      </label>
      <div>
        <img src='/src/assets/images/share-option.png'>
      </div>
    <th scope='row'>
      <div>
        <div>
          <img src='/src/assets/images/trainIcoWarn.png'>
        </div>
        <label class='font-weight-normal'>
          {{schedule.trainArrivalName}}
        </label>
      </div>
    </th>
    <td>
      <br>
      <div>
        <label class='font-weight-normal'>
          {{schedule.dateIntermediateArrival}}
        </label>
      </div>
      <div>
        <label class='font-weight-bold'>
          {{schedule.stationIntermediateName}}
        </label>
      </div>
    </td>
    <td>
      <div>
        <label class='font-weight-light'>
          {{getDelayBetweenTwoDates(schedule.dateDeparture, schedule.dateArrival)}}
        </label>
      </div>
      <img src='/src/assets/images/arrow-13-xxl.png' width='50'>
    </td>
    <td>
      <br>
      <div>
        <label class='font-weight-normal'>
          {{schedule.dateArrival }}
        </label>
      </div>
      <div>
        <label class='font-weight-bold'>
          {{schedule.stationArrivalName}}
        </label>
      </div>
    </td>
    <td>
      <br>
      <div *ngIf="schedule.price!=0">
        <label>
          {{schedule.price }}
        </label>
        <button class='btn btn-lg btn-outline-warning' (click)="findTicketTransfer(schedule)">
          FIND TICKET
        </button>
      </div>
      <label *ngIf="schedule.price==0" class="font-weight-bold text-warning">
        TRAIN ARRIVED ..
      </label>
    </td>
  </tr>
  </tbody>
</table>

