<footer class="text-center align-items-center fixed-bottom">
  <div class="row">
    <div class="col">
      <img src="/src/assets/images/available_seat_img.gif" style="background: white">
      <h4 class="text-warning">Available Seat</h4>
    </div>
    <div class="col">
      <img src="/src/assets/images/booked_seat_img.gif" style="background: white">
      <h4 class="text-warning">Booked Seat</h4>
    </div>
    <div class="col">
      <img src="/src/assets/images/selected_seat_img.gif" style="background: white">
      <h4 class="text-warning">Selected Seat</h4>
    </div>
  </div>
</footer>
