.wrapper {
  height: 1080px;
  width: 1920px;
  margin: auto;
  background: #280744;
  overflow: hidden !important;
}

.background {
  position: absolute;
  height: 1080px;
  width: 1920px;
  background: url(/src/assets/images/bg.png) top center repeat-x;
  /*background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QSXhkaG1VaEhSTjA) top center repeat-x;*/
  background-size: contain;
}

.rocks_1 {
  position: absolute;
  top: 40%;
  height: 250px;
  width: 1920px;
  background: url(/src/assets/images/rocks_1.png) top center repeat-x;
  /*background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QckJsSTBOSmdsYmc) top center repeat-x;*/
  background-size: contain;
  animation: translateX 100s infinite linear both;
}

.rocks_2 {
  position: absolute;
  top: 45%;
  height: 250px;
  width: 1920px;
  background: url(/src/assets/images/rocks_2.png) top center repeat-x;
  /*background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QSC1sYnVUWUxKSGs) top center repeat-x;*/
  background-size: contain;
  animation: translateX 30s infinite linear both;
}

.rails {
  position: absolute;
  top: 50%;
  height: 250px;
  width: 1920px;
  background: url(/src/assets/images/rails.png) top center repeat-x;
  /*background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QZmtCbjlIbjVwclk) top center repeat-x;*/
  background-size: contain;
  animation: translateX 5s infinite linear both;
}

.train {
  position: absolute;
  top: 50%;
  margin-right: 10%;
  height: 250px;
  width: 1500px;
  right: 0px;
  background: url(/src/assets/images/train.png) top center no-repeat;
  /*background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QandQOVZSTjBETGs) top center no-repeat;*/
  background-size: contain;
}

.ground {
  position: absolute;
  width: 1920px;
  height: 70px;
  bottom: 0px;
  background: #16012f;
}

.lights {
  position: absolute;
  top: 43%;
  height: 250px;
  width: 1920px;
  background: url(/src/assets/images/lights.png) top center repeat-x;
  /*background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QNTJ1U2M1eFptSTA) top center repeat-x;*/
  background-size: contain;
  animation: translateX 4s infinite linear both;
}

.moon {
  position: absolute;
  top: 5%;
  height: 250px;
  left: 200px;
  width: 120px;
  background: url(/src/assets/images/moon.png) top center no-repeat;
  /*background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QRTVYeVFoYVppeUU) top center no-repeat;*/
  background-size: contain;
}

@keyframes translateX {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 1920px 0px;
  }
}
